/* The sidebar menu, change this soon. */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: calc(100% - 160px);
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Top Menu Bar */
.topBar{
  text-align: center;
  margin: 0em 0%;
  padding: 1em 1em;
  color: #eeeeee;
  background: #444444;
}

div.standard {
  margin: 2em 180px 0em 0%;
  padding: 1em 1em;
  font: normal 16px/1 "Liberation Mono", Liberation, monospace;
  color: #eeeeee;
  text-align: left;
  background: #242424;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

form {
    text-align: left;
}

p.creatorMenu {
    text-align: left;
}

.debugText {
    text-align: left;
    border-style: none;
}

.info {
    text-align: left;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 10%;
    min-width: 2em;
    max-width: 6em;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #818181;
}

a:hover {
    color: #f1f1f1;
}

h1 {
    background: -webkit-linear-gradient(gray, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Liberation Mono", Liberation, monospace;
}

.linklist {
    text-align: center;
    margin-bottom: 1em;
}

body {
  background-color: #242424;
}
