div {
    background-color: white;
    border-radius: 15px 50px;
    margin-left: 10%;
    margin-right: 10%;   
}

img {
    width: 50%;
    margin: auto 0;
    max-width: 50%;
    display: block;
    padding: 25%;
    padding-bottom: 0;
    padding-top: 0;
}

h1 {
    background: -webkit-linear-gradient(gray, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

p {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 1em;
}

h2 {
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 1em;
}

.linklist {
    text-align: center;
    margin-bottom: 1em;
}

body {
    background-color: black;
}
