div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 160px;
  margin: 2em 5%;
  padding: 1em 2em;
  overflow: hidden;
  border: 2px solid #9aEADD;
  -webkit-border-radius: 26px 8px;
  border-radius: 26px 8px;
  font: normal 16px/1 "Courier New", Courier, monospace;
  color: rgba(0,0,0,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #0DEAD0;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

img {
    width: 50%;
    margin: auto 0;
    max-width: 50%;
    display: block;
    padding: 25%;
    padding-bottom: 0;
    padding-top: 0;
}

h1 {
    background: -webkit-linear-gradient(gray, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

.linklist {
    text-align: center;
    margin-bottom: 1em;
}

body {
    background-color: #dDEADd;
}
