/* :root {
	--canvas: #101010;
	--text: #FEFEFE;
	--bright: #F092FF;
	--theme: #DE00FF;
	--shade: #C21AFF;
	--architect: #8400FD;
	--depth: #4700FA;
	--darktheme: #1F0026;
	--deepvoid: #070024;
} */

/* Dersite Palette */
:root {
	--canvas: #101010;
	--text: #FEFEFE;
	--bright: #F092FF;
	--theme: #DE00FF;
	--shade: #4A0689;
	--architect: #5D08AB;
	--depth: #1B0A8E;
	--darktheme: #1F0026;
	--deepvoid: #070024;
}

@font-face {
	font-family: Carima;
	src: url(carima.ttf);
}

.row .col {
	  padding: 0;
		margin: auto;
}

.col.s4 p {
	text-align: center;
}

* {
	  font-family: "Lucidia Semi-Condensed", Verdana, sans-serif;
		font-size: 1.5vmax;
		line-height: 1.5vmax;
}

body {
	background-color: var(--darktheme);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
		color: var(--theme);
		transition: color 0.2s;
}

a:hover {
		color: var(--bright);
}

#content {
	margin: 0;
	padding: 0;
}

#top-bar {
	color: var(--text);
	background-color: var(--shade);
	min-height: 6vmax;
}

#main {
	color: var(--text);
	background-color: var(--darktheme);
}

#display {
	color: var(--text);
	background-color: var(--darktheme);
	min-height: 91.5vmax;
}

#right-bar {
	color: var(--text);
	background-color: var(--architect);
	min-height: 101vmax;
	margin-bottom: 0;
}

#footer {
	color: var(--text);
	background-color: var(--canvas);
	min-height: 10vmax;
	margin-bottom: 0;
}

.box {
	color: var(--text);
	background-color: var(--theme);
}

.divider {
	background-color: var(--theme);
}

#top-bar .col.s3 {
	margin-top: 2vmax;
}

#top-bar .col.s3 a {
	font-family: "Courier New", Courier, Verdana, sans-serif;
	font-size: 1.6vmax;
	line-height: 1.6vmax;
}

#title-zone {
	padding: 1.25vmax 1.25vmax;
	margin: 0;
	height:4vmax;
	font-family: Carima, "Lucidia Semi-Condensed", Verdana, sans-serif;
	font-size: 2vmax;
}

#logo {
	width: 4vmax;
	height:4vmax;
	padding: 0;
	margin-left: 1.5vmax;
}

.padding {
	padding: 0;
	margin: 0.5vmax;
}
