body {
    background: black;
}

img {
    width: 50%;
    margin: auto 0;
    max-width: 50%;
    display: block;
    padding: 25%;
    padding-bottom: 0;
    padding-top: 0;
}

a {
    color: white;
}

h1 {
    background: -webkit-linear-gradient(gray, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

p {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-bottom: 0.5cm;
    padding-left: 10%;
    padding-right: 10%;
}

form {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-bottom: 0.5cm;
    padding-left: 10%;
    padding-right: 10%;
}

p.creatorMenu {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-top: 0.25cm;
    padding-bottom: 0.4cm;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

p.playerDisplay {
    color: white;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-top: 0.25cm;
    padding-bottom: 0.4cm;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}

.debugText {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-top: 0;
    padding-bottom: 0.5cm;
    padding-left: 10%;
    padding-right: 10%;
    border-style: none;
}

.info {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-top: 0.25cm;
    padding-bottom: 0.4cm;
    padding-left: 1%;
    padding-right: 1%;
    margin: 0 auto;
    border-style: dotted;
    border-width: 1px;
    border-color: orange;
}

h2 {
    color: white;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    width: 80%;
    padding-bottom: 0.5cm;
    padding-left: 15%;
    padding-right: 5%;
}